footer {
  border-top: 8px solid  #1b546f;
  background: #fff;
  height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  div.inema-logo {
    background: url("../../assets/images/inema_marca.png") center no-repeat;
    background-size: cover;
    width: 127px;
    height: 41px;
  }
}
